@import "./common_controls.css";

h2 {
    color: white;
    text-align: center;
    margin: auto;
  }

.form-group {
    color: #ddd;
    display: grid;
    justify-content: center;
    
    grid-template-columns: 10% 30%;
    grid-template-rows: 10% 10% 10% 10%;
    gap: 10px;
    font-size: large;
    width: 100%;
}

.form-group label {
    padding: 10px;
    width: 20%;
    margin:auto;
}

.form-group input {
    padding: 10px;
    width: 80%;
    margin:auto;
}

form .form-body {
    background-color: #333;
    padding: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 1900px;
    height: 909px;
  }

body {
    display: table;
    width: 100%;
}

.nextButton {
    width: 100%;
    text-align: center;
    margin:auto;
}

