

.author-info {
    display: flex;
    background-color: rgb(65, 158, 212);
    border-bottom: solid;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.author-text h1 {
    color: black;
}

.author-info img {
    float: right;
    width: 220px;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.quote {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.author form {
    display: flex;
    justify-content: space-around;
    border: solid;
}

.quoteHeader {
    background-color: #282c34;
}

.quoteContent {
    background-color: #282c34;
}

.specialLabel {
    color:white;
}

.author {
    background-color: #282c34;
}
.navBarWrapper {
    background-color: #333;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }