

.author-info {
    display: flex;
    background-color: rgb(112, 197, 198);
    border-bottom: solid;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.author-text h1 {
    color: black;
}

.author-info img {
    float: right;
    width: 220px;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

.quote {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.author form {
    display: flex;
    justify-content: space-around;
    border: solid;
}
