
.top body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.navBarWrapper {
  background-color: #333;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}


.features {
  background-color: aliceblue;
  color: #000000;
  text-align: left;
}

.dropdown-option a {

  display: block;

  color: #000000;

  padding: 5px;

  text-decoration: none;

}