.navBarWrapper {
  background-color: #333;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.searchBody {
  background-color: #282c34;
}

.searchWrapper {
  background-color:#282c34;
  height: 985px;
}