.searchWrapper {
  background-color:#282c34;
  height: 985px;
}

.navBarWrapper {
  background-color: #333;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.searchBody {
  background-color: #282c34;
}

.toggleWrapper {
  width: 1000px;
  display: flex;
}

button {
  margin: 20px;
}


.mainInput {
  width: 20%;
  margin: 15px;
  font-size: 20px;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}