/*
TODO: Needs styling
*/

form .form-inner {
  position: relative;
  display: block;
  background-color: black;
  padding: 30px;
  z-index: 2;
}

form .form-body {
  background-color: lightblue;
  padding: 30px;
}